[2020-04-17 13:57] nbhkf opened #13 "Can not find image trailofbits/slither:latest"
I want to use slither to check the contract, but I got this information, I hope you can help, thank you！

Analysing file [0/1]: dataset/denial_of_service/auction.sol [slither]
ANTLR runtime and generated code versions disagree: 4.8!=4.7.2
ANTLR runtime and generated code versions disagree: 4.8!=4.7.2
404 Client Error: Not Found ("No such image: trailofbits/slither:latest")
unsupported operand type

[2020-04-17 15:01] pedrocrvz commented on #13
This seems to be an issue related to the docker-py library ([#2101](https://github.com/docker/docker-py/issues/2101)).
Try to pull the image manually (`docker pull trailofbits/slither:latest`) and then re-run SmartBugs using the same command.

[2020-04-17 15:39] nbhkf commented on #13
Thank you for your reply，can i fix it？

发自我的iPhone

------------------ Original ------------------
From: Pedro Cruz <notifications@github.com&gt;
Date: Fri,Apr 17,2020 11:01 PM
To: smartbugs/smartbugs <smartbugs@noreply.github.com&gt;
Cc: nbhkf <413433601@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [smartbugs/smartbugs] Can not find image trailofbits/slither:latest (#13)

This s

[2020-04-30 16:41] jinleisun opened #14 "Problem with the solidity complier"
An error occurred when I used Osiris for the analysis of the smart contract:
"ERROR: Solc experienced a fatal error. Check the results file for more info.  "
And the results file show "Solidity compilation failed". The version of the smart contract I analyzed was 0.4.23. My guess is that the solidity compiler caused the error. Can you tell me the reason for the error? Is it Smartbugs or Osiris ? A

[2020-05-06 10:40] pedrocrvz commented on #14
Hi @jinleisun, this is definitely an Osiris issue. SmartBugs does not compile solidity, it only checks for the version of the contract to be able to choose the right docker image from the `.yaml` config file, if more than one image is provided ([known limitations](https://github.com/smartbugs/smartbugs#known-limitations)).
You need to make sure the version of Osiris (docker image) you are using ca

[2020-05-06 10:44] pedrocrvz commented on #13
I am not sure what you mean by "fixing" it, since it's a library issue. But sure, we welcome any PR from people who want to contribute.

[2020-05-06 12:28] nbhkf commented on #13
Thank you for your reply

发自我的iPhone

------------------ Original ------------------
From: Pedro Cruz <notifications@github.com&gt;
Date: Wed,May 6,2020 6:44 PM
To: smartbugs/smartbugs <smartbugs@noreply.github.com&gt;
Cc: nbhkf <413433601@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [smartbugs/smartbugs] Can not find image trailofbits/slither:latest (#13)

I am not sure what you

[2020-06-15 11:40] xf97 opened #15 "There may be errors in the data set."
For example, in the unchecked_low_level_calls/FibonacciBalance.sol and unchecked_low_level_calls/unchecked_return_value.sol contracts in the data set sb curated, some low-level call statements have used the require-statements to check the return value, but these statements are still marked as "Unchecked Call Return Value".

[2020-06-30 08:38] pedrocrvz commented on #15
Hi @xf97, thanks for the input. The second is clearly a typo, will correct right away.
The first, although is not referent to unchecked low level calls, it has to do with the context that a low level call (`DELEGATECALL`) is executed. You can read more about it [here](https://github.com/sigp/solidity-security-blog#4-delegatecall-1). It's missing some context in the contract, will add the called co

[2020-06-30 09:01] #13 closed

[2020-06-30 09:02] #14 closed

[2020-07-06 03:39] SunBeomSo opened #18 "meta data for SB curated data"
Hi,

would you plan to provide meta data for SB curated dataset?

For example, `contract_name` for each file; there may exist multiple contracts in a single file, but only one contract should be designated as a main(top-level) contract when deployed.

In addition, `compiler_version` for each file; some analyzers takes this information as input to obtain code that will actually be analyzed (e.g., E

[2020-07-06 18:17] jff commented on #15
Thank you, @xf97!

This was fixed in #16, which was now merged.

[2020-07-06 18:17] #15 closed

[2020-07-07 02:10] SunBeomSo opened #19 "question on classification of the vulnerability"
I have a question on the classification for the vulnerability in [dataset/unchecked_low_level_calls/FibonacciBalance.sol](https://github.com/smartbugs/smartbugs/blob/master/dataset/unchecked_low_level_calls/FibonacciBalance.sol). I wonder whether the current classification for this file is good enough.

According to [DASP](https://dasp.co/#item-4), ``unchecked low level calls`` refers to cases whe

[2020-07-09 17:45] jff commented on #18
Thanks for the suggestion. So far, we didn't have the need to have that information condensed in a single file. What sort of format did you have on mind?

If this is implemented, I suggest creating a script under `utils/scripts` that generates the file.

[2020-07-09 17:55] jff opened #22 "Use Oyente's json output"
Following [Xiao Liang's comment](https://github.com/smartbugs/smartbugs/pull/17#issuecomment-656201244), Smartbugs could use Oyente's Json interface instead of the currently output parser.

[2020-07-10 11:43] nveloso opened #23 "Pragma version in solidity contract is incorrect"
Hi! The contract **0xec329ffc97d75fe03428ae155fc7793431487f63.sol** has a typo in pragma version.

The current pragma is `pragma solidity >=0.4.11;` but it fails to compile with solc version 0.5.0 or higher.

A possible fix could be to change the pragma version to this `pragma solidity ^0.4.11;`.

PS: This contract is from the unchecked_low_level_calls dataset

[2020-07-10 12:03] nveloso opened #24 "Vulnerability in dead code"
Hi! The contract **integer_overflow_benign_1.sol** has no vulnerability when compiled with solc version v0.4.25+commit.59dbf8f1 because the compiler removes the dead code. The vulnerability exists in the source code but in the runtime bytecode does not exist.

The same happens with the contract **overflow_single_tx.sol** in the last three functions, function `overflowlocalonly(uint256)`, `overflow

[2020-07-10 13:54] jff commented on #24
Thanks, @nveloso!

I would say that the contracts should still be in the dataset, since this is a dataset of _Solidity smart contracts_ and they might be compiled with versions of solc that do not remove the dead code.

[2020-07-10 14:02] jff commented on #23
Thanks, @nveloso!

This contract was extracted _as is_ from Etherscan ([link](https://etherscan.io/address/0xec329ffc97d75fe03428ae155fc7793431487f63#code).

I think we can update the pragma, but we need to decide if it is necessary to document these changes. @pedrocrvz might have an opinion on this :)

[2020-07-10 14:03] jff commented on #24
I'm tagging @ruimaranhao and @pedrocrvz for their opinion on this.

[2020-07-10 19:36] yxliang01 commented on #22
Great! I am currently maintaining Oyente. If anyone encounters issues with the json interface, please feel free to create an issue in Oyente repo. So far, for my other projects, it works well.

[2020-07-11 14:51] #19 closed

[2020-07-12 12:36] SunBeomSo commented on #18
@jff
I think csv format such as a below one might be good:

| filename  | main_name | lines | compiler_version
| ------------- | ------------- | ------------- |------------- |
| 0x627fa62ccbb1c1b04ffaecd72a53e37fc0e17839  | TokenBank  | 100 | v0.4.19+commit.c4cbbb05

...

[2020-07-14 18:55] pedrocrvz commented on #23
Actually, I **think** `>=` doesn't set an upper limit (`^` does), on the compiler version. So if it doesn't compile it should be because of [breaking changes](https://solidity.readthedocs.io/en/v0.5.0/050-breaking-changes.html). (We added some disclaimer to the[ README.md](https://github.com/smartbugs/smartbugs#known-limitations) about versioning issues)

`pragma solidity ^0.4.11;` should not work

[2020-07-15 06:05] SunBeomSo opened #26 "excluding duplicated contracts in SB curated dataset"
In SB curated dataset, there are duplicated contracts which are not meaningfully different.

For meaningful comparisons among tools, I think those duplicated contracts need to be excluded from SB curated dataset.

Of course, I understand smart contracts deployed can be very similar. However, I think contracts with only minor syntactic differences need to be deduplicated.

For example, in ``access_

[2020-07-15 11:11] nveloso commented on #23
I understand that the contracts should remain as is since they were retrieved from the blockchain. However, if a tool compiles that contract based on the pragma version it would not verify that contract because the compilation fails, missing vulnerabilities in that contract.

[2020-07-24 12:26] SunBeomSo opened #27 "question on statistics"
Hi, I have three questions on statistics. I would be grateful if you could explain if I am misunderstanding something.

**[Q1]** The Table 7 in paper "Empirical Review of Automated Analysis Tools on 47,587
Ethereum Smart Contracts" states that Oyente identified 308 contracts that potentially have reentrancy vulnerabilities.

However, according to the [contracts.csv](https://github.com/smartbugs/sm

[2020-07-24 15:32] jff commented on #27
Thanks for your questions @SunBeomSo. The files to look at are [results_wild.json](https://github.com/smartbugs/smartbugs-results/blob/master/metadata/results_wild.json), which is produced by the script [generate_results_wild.py](https://github.com/smartbugs/smartbugs-results/blob/master/script/generate_results_wild.py).

If you run the script, you'll get the same data as presented in the ICSE pap

[2020-07-24 15:41] jff commented on #26
Thanks for opening this issue, @SunBeomSo.

It's a good point. We have included them as three separate contracts because we tried to be faithful to what we found in our sources. We might have to revise this in a future release of Smartbugs, but we'll need to use well-defined criteria.

Have you found any other similar/duplicated contracts?

[2020-07-24 15:51] jff commented on #23
I am in favour of not changing contracts in the dataset, so that they remain faithful to their sources. In my view, the two acceptable solutions for this problem are:

1. The analysis tool knows how to deal with pragma versions (thus becoming a more robust tool)
2. SmartBugs can have an option that does that for tools who do not support the feature mention in point 1

[2020-07-24 15:54] ruimaranhao commented on #24
I agree with @jff: these contracts should still be in the dataset, despite the issue that you report. Perhaps we can have that meta info stored somewhere.

[2020-07-24 15:59] pedrocrvz commented on #23
SmartBugs already does this for v4 and v5. If I remember correctly, if the `.yaml` file contains both version of the tools it will choose the correct one to run. i.e if the version is below is below v5 and there is defined a docker image in the `.yaml` file for it, it will run that image - if not it will run the default. (see [line](https://github.com/smartbugs/smartbugs/blob/master/src/docker_api

[2020-07-24 16:01] jff commented on #24
I suggest the following:

1. We keep these contracts as they are
2. If possible, we add _new_ versions of these contracts where the deadcode is always used

I added this to milestone v1.1.0. If you find any more contracts with deadcode, please let me know using this thread.

[2020-07-24 16:04] jff commented on #23
Yes, my point was that it could be optional. And it would be good to revise/update it!

[2020-07-27 12:53] SunBeomSo commented on #27
@jff Thanks for the answer.

I would try to integrate VeriSmart with SmartBugs.

I have one more question.
For maian, there exists a log for the contract ``WalletLibrary``:
https://github.com/smartbugs/smartbugs-results/tree/master/results/maian/icse20/WalletLibrary

But there are no results on ``WalletLibrary`` contract for other tools. For example, the link below (manticore) does not exist:
http

[2020-07-27 12:57] SunBeomSo commented on #26
@jff Thanks for the answer.

I would report here when I find more similar/duplicated ones.

[2020-07-30 10:14] nveloso opened #29 "Vulnerability that is not a vulnerability"
Hi! I think that in the file insecure_transfer.sol that is part of the arithmetic dataset, the vulnerability at line 17 is not a vulnerability because of the check (require) at line 15. Could you check it?

[2020-07-30 10:33] pedrocrvz commented on #29
Hi. Yes, it's wrongly marked as a vuln, only the second ones qualifies as an overflow.
Can you make the PR for the fix?

[2020-07-30 10:41] nveloso commented on #29
Sure!
Also, in contract timelock.sol, line 16 and 17 it is possible an overflow but the probability to occur is low. It should also be annotated as vuln?
In token.sol line 23 it is possible to occur an overflow, it should be annotated as vuln too?

[2020-08-04 06:40] yxliang01 opened #31 "Ground truth of the existence of vulnerabilities"
While I think there is no ground truth available for SB Wild dataset, I am wondering whether the indicated vulnerabilities in the deployed contracts in SB curated dataset are verified? That is, the contract is indeed vulnerable and the vulnerable statement line number is accurate.

[2020-08-05 10:46] jff commented on #31
Hi @yxliang01, thanks for your interest. Yes, SB Curated is mannualy annotated. Obviously, there might be some human error (for example, [this pull request](https://github.com/smartbugs/smartbugs/pull/30) fixes a problem and some typos found recently.

[2020-08-05 10:52] jff commented on #27
Hi @SunBeomSo, during the execution of our experiments, Manticore was the only tool that faced timeouts. As a result, there might be some result files missing.

By the way, I think it would be better to pose questions like this in the smartbugs-results repository.

Regarding VeriSmart, I am looking forward to seeing it as part of the default distribution. Please let me know if you need any assista

[2020-08-05 10:58] #31 closed

[2020-08-05 10:59] #27 closed

[2020-09-29 17:09] SunBeomSo opened #32 "smartbugs/maian docker image"
Hi,

I am using docker image of Maian, provided in https://hub.docker.com/r/smartbugs/maian .

When running smartbugs/maian docker image in parallel with more than 10 processes, I obtained a following error message:
[code]

When running smartbugs/maian with 2 processes in parallel, I did not encounter the above error messages. Is it a known issue? Is it possible to run smartbugs/maian with more nu

[2020-10-08 22:43] jff commented on #32
Hi @SunBeomSo, I currently have no way of reproducing the bug. What is the smaller number of processes for which you get that error?

I am tagging @tdurieux because he might have some idea of why this happens.

[2020-10-08 22:43] #29 closed

[2020-10-08 22:54] tdurieux commented on #32
What is the configuration of your computer?
If I correctly recall Maian consumes a lot of resources. I did not identify a workaround to reduce this problem.

[2020-10-09 16:59] SunBeomSo commented on #32
Thanks for the responses.

@jff

When running Maian with 4 threads in parallel, it seems to work fine. However, when running it with 6 and 8 threads in parallel respectively, the same problem happened.

As the number of threads running in parallel decreases, frequency of problem occurrence seems to decrease.

@tdurieux

I am working on Ubuntu 18.04 with 188GB of memory. When I ran Maian with 8 pro

[2020-10-09 17:25] tdurieux commented on #32
For Maian we reduce the number of parallel executions. I don't exactly remember the number of parallel executions.
We did not modify anything else but it took a really long time.

[2020-10-10 14:11] SunBeomSo commented on #32
Thanks for the answer.  I do not close this issue since I think there may be someone that encounters this issue, but I think you can close this issue if you want.

[2020-11-05 23:14] #32 closed

[2020-11-06 05:27] ragarwa2 opened #33 "skip-existing"
Currently the results folder is timestamped to current time
[code]

while for the skip-existing result_folder is this timestamped (current folder) which has no results.. Thus, the entire checking of contracts happen again..

[code]

[2020-11-12 00:53] jff commented on #33
Thanks for reporting this, @ragarwa2

One solution to this is to use a fixed output folder and provide an extra option that enables timestamped result folders. What do you think? (cc'ing @pedrocrvz)

[2020-11-12 05:44] ragarwa2 commented on #33
If this is what you mean:
- adding an extra option for giving, as input, the old results folder dateTime value (in the format "%Y%d%m_%H%M").
I would also suggest to make it an array so that multiple dateTime can be provided towards old result folders.

[2020-11-12 08:48] pedrocrvz commented on #33
Sure, that's one possibility. We could also iterate over the directories in `/results/[tool]` to check if a directory with the name of the file exists. (the output result of an analysed file is a directory with the file name containing the `result.json` and `result.log` in the timestamped folder)

It should be something like:

[code]

[code]

[2020-11-24 09:42] TanmayT commented on #23
I am also facing the same issue...any updates on this?

[2020-12-16 23:15] jff commented on #23
@TanmayT Could you provide more details about the issue you are having? We are planning to revise SmartBugs' version management soon and it would be helpful to understand the different contexts in which this problem might occur.

[2021-05-13 08:55] jff opened #37 "Add SARIF output to new tool Conkas"
The recently introduced tool Conkas does not produce SARIF output. We should make it consistent with the other tools (in the sarif-output branch).

[2021-06-24 07:49] SunBeomSo opened #41 "inconsistent line separators for some files"
In some files, lines are separated by ``\r\n``, rather than ``\n``.

For example, in Python2 (in Python3, it seems ``\r\n`` is automatically converted to ``\n`` when using ``readlines()`` function),
you can observe that each line is separated by ``\r\n`` for the file https://github.com/smartbugs/smartbugs/blob/master/dataset/reentrancy/0x01f8c4e3fa3edeb29e514cba738d87ce8c091d3f.sol:
[code]
which h

[2021-06-30 02:27] cesarvspr commented on #23
Is the any solutions for this? I can't properly run the test using all tools due to some erro relate to compiler and contract version

[2021-07-06 03:57] SunBeomSo opened #42 "non-vulnerable contract in SB curated dataset"
The contract below is not vulnerable to reentrancy:
https://github.com/smartbugs/smartbugs/blob/master/dataset/reentrancy/reentrancy_insecure.sol

[code]

Note that the condition ``\forall i. userBalances[i] = 0`` holds over the entire contract.
Therefore, even though the reentrancy itself is possible, no ethers can be stolen from the contract (i.e., no vulnerabilities exist).

To make this contra

[2021-07-29 09:44] jff commented on #37
@dindonero Can this be closed?

[2021-09-15 00:35] Hamza-101 opened #46 "Error running on Ubuntu:SyntaxError: invalid syntax"
I get the following error when running `python3 smartBugs.py --tool oyente --file dataset/reentrancy/simple_dao.sol
:`

`Traceback (most recent call last):
  File "smartBugs.py", line 13, in <module>
    from src.docker_api.docker_api import analyse_files
  File "/home/hamza/Downloads/smartbugs-master/src/docker_api/docker_api.py", line 3, in <module>
    import docker
  File "/home/hamza/.local/l

[2021-09-15 00:36] Hamza-101 commented on #46
Running on ubuntu 20.04

[2021-09-24 10:43] jff commented on #46
Thanks @Hamza-101

I cannot replicate this bug. It seems to be related with a local dependency. Perhaps you can try with a new virtual environment? Something like:

[code]
And then try again:

[code]

[2021-09-25 02:22] Hamza-101 commented on #46
I'll

[2021-09-25 02:22] Hamza-101 commented on #46
I'll try checking that.

[2021-09-25 02:22] #46 closed

[2021-10-11 17:09] gsalzer opened #48 "file names garbled with manticore"
Suppose the directory `/home/ethereum/tools/smartbugs/test` contains some `sol` files. Then the command line

    python smartBugs.py --tool manticore --file ~/tools/smartbugs/test

leads to the following errors in `results/manticore/.../.../result.log`:

    2021-10-11 17:01:46,725: [14] m.e.manticore:ERROR: Errors : Invalid solc compilation ""ome/ethereum/tools/smartbugs/test/0x019d7e5ae8d2ba9a2

[2021-10-11 18:07] gsalzer opened #49 "Tool-agnostic distinction between failed analysis and successful analysis without issues"
Suppose the directory `/home/ethereum/tools/smartbugs/test` contains the two contracts `A.sol`:
[code]
and `B.sol`:
[code]
Then the analysis with the command

    python smartBugs.py --tool mythril --file ~/tools/smartbugs/test

will lead to a compilation error for `A.sol` but to a successful analysis for `B.sol` (without issues). This essential difference is not reflected in the respective `*.sar

[2021-10-11 18:14] gsalzer opened #50 "Unintuitive alphabetic ordering of files and directories due to formatting of date"
The files and directories generated by `smartBugs.py` contain the current date in the form year-day-month, which leads to an achronological ordering when listing files and directories in alphabetic order (as file browsers and the `ls` command do). I suggest to replace, in `smartBugs.py`, the line

    output_folder = strftime("%Y%d%m_%H%M", localtime())

by

    output_folder = strftime("%Y%m%d_%H

[2021-10-11 18:51] gsalzer opened #51 "task number off by one in "done" (or "analysing") messages"
The top level messages of smartbugs look like:
[code]
Apparently, the task number in the done message has been incremented too early. In the source code,  we find the line

    nb_task_done.value += 1

*between* the write statement for the start message `Analysing` and the one for the finish message `Done`. Maybe move the statement before the first write statement?

[2021-10-13 11:20] jff commented on #49
Thanks @gsalzer. We'll look at this in more detail.

@dindonero Should the SARIF be the same in this case?

[2021-10-18 16:46] jff opened #54 "Add distinction between failure and success"

[2021-10-18 16:47] jff opened #55 "Bytecode support: add tool DefectChecker"

[2021-10-18 16:47] jff opened #56 "Bytecode support: add tool Easyflow"
https://github.com/Jianbo-Gao/EasyFlow

[2021-10-18 16:47] jff opened #57 "Bytecode support: add tool Ethainter"
https://zenodo.org/record/3760403

[2021-10-18 16:47] jff opened #58 "Bytecode support: add tool EthBMC"
https://github.com/RUB-SysSec/EthBMC

[2021-10-18 16:47] jff opened #59 "Bytecode support: add tool eThor"
https://secpriv.wien/ethor/

[2021-10-18 16:47] jff opened #60 "Bytecode support: add tool EthRacer"
https://github.com/ashgeek/Ethracer

[2021-10-18 16:48] jff opened #61 "Bytecode support: add tool Madmax"
https://github.com/nevillegrech/MadMax

[2021-10-18 16:48] jff opened #62 "Bytecode support: add tool teEther"

[2021-10-18 16:48] jff opened #63 "Bytecode support: extend support for tool Honeybadger"

[2021-10-18 16:48] jff opened #64 "Bytecode support: extend support for tool Maian"

[2021-10-18 16:48] jff opened #65 "Bytecode support: extend support for tool Manticore"

[2021-10-22 20:38] gsalzer opened #67 "docker image loaded multiple times"
If a docker image is missing and smartbugs is started with several processes, then the image is loaded for every process.

Expected behavior: First load image, than fan out tasks to processors.

Version:  branch `bytecodes`, commit `6d7ef359ecba7d3f27d35e2f7b311d68511e7264`

[2021-10-22 20:46] gsalzer opened #68 "Vulnerability not found on sarif_vulnerability_mapping.csv table. Tool: mythril"
Running smartbugs/mythril on various bytecodes seems to work on the side of mythril, but smartbugs issues messages like

[code]

Version: branch `bytecodes`, commit `6d7ef359ecba7d3f27d35e2f7b311d68511e7264`

[2021-10-22 22:12] gsalzer opened #69 "How to control priority of processes?"
Running smartBugs with `nice` seems to have no effect on the priority of the docker images. The latter are always run as `root` with nice level 0.

Is there a way of running the child processes of smartBugs with a lower priority to move them to the background?

[2021-10-23 10:01] gsalzer opened #70 "How to set timeouts and memory limits?"
Neither in the help text nor in the code (processing of args) I found hints on how to set the timeout and memory limits for the individual run of a tool on a contract. What is the intended method for controlling the resources available to tools?

[2021-10-23 10:15] gsalzer opened #71 "Start smartbugs log only when starting to work"
Every run of smartbugs produces a log file in `results/log`.

Currently, literally *every* run produces such a file, even when just displaying the help of smartbugs or when smartbugs immediately aborts because of errors on the command line (which leads to an empty log file).

Suggestion: Start logging only when actually running tools, such that the log files correlate with results in some tool dir

[2021-10-23 12:23] gsalzer opened #72 "Crash with socket timeout"
In the middle of a large test set, smart bugs crashed with the following trace:

[code]

[2021-10-23 12:47] gsalzer opened #73 "Spurious output on stdout/stderr"
When running smartbugs (in this case with mythril), the output on stdout/stderr contains progress messages (`Analysing file`, `Done`), but also the following additional output.

- The contents of `results.log`: Now and then, the contents of `results.log` is displayed. It seems to happen in the case where vulnerabilities have been found, but not in every such case. This output may be quite big (as

[2021-10-23 12:52] gsalzer opened #74 "Add wall time to status messages"
I suggest to start each status message on stdout/stderr (but maybe also in the log file) with a timestamp displaying the real time, in order to correlate it with other events on the system. E.g., in another issue I reported about a crash because of timeouts. Here, the timestamps would have helped to correlate the event with messages in the system logs.

[2021-10-23 14:22] gsalzer opened #75 "How does --skip-existing work?"
Basically, the option `--skip-existing` seems to be a clever idea: If the analysis gets stuck/aborts and is restarted, then the contracts already analyzed should not be re-analyzed.

According to the code, the existence of a previous analysis is checked by looking for `contract/result.json`. The parent directory is the same directory as the one for the current analysis. How is this supposed to wor

[2021-10-24 14:39] gsalzer opened #76 "Add process id to name of result dir and log file"
When starting two smartBugs jobs within one minute, the names used for the results dir and the log file will clash. This could be avoided by also adding the process id or a random number.

Maybe it is enough to replace in `smartBugs.py` the line
[code]
by
[code]
This will result in names like `20211024_1634-7203`

[2021-10-27 11:11] jff opened #78 "Change options for SARIF generation and change default configuration"
I propose to only have the json output by default and to review options for SARIF generation (e.g. --sarif-output should be present to also generate SARIF)

This would help with problems such as the one reported in #73

[2021-10-27 11:13] jff opened #79 "Some tools do not define is_success"
In `src/output_parser`, tools such as Honeybadger, Maian, and Osiris do not define the method `is_success`.

[2021-10-27 11:39] #70 closed, assigned to nobody

[2021-10-29 08:33] #55 closed, assigned to nobody

[2021-10-29 12:30] #62 closed, assigned to tdurieux

[2021-10-29 18:57] gsalzer commented on #60
@jff `bytecode` is wrong in the help message, it should be `Contract source code`, as described in  [README](https://github.com/ashgeek/Ethracer/blob/master/README.md).

But this file is not essential: you can use "IDoNotExist.sol" as the file name. Ethracer uses `solc` to obtain the mapping from the 4-byte-signatures to the function headers, probably to improve readability of the results, or mayb

[2021-10-29 20:50] gsalzer commented on #56
A fixed input won't do. Typically, the first four bytes determine the function to be executed in the contract, and the rest should match the types of the required arguments. If we fix the input, then most contracts will end up in the fallback function (if it exists) or will revert (if it doesn't). I have scripts to extract the function signatures from the bytecode, so we could generate transaction

[2021-10-29 22:15] jff commented on #60
Thanks @gsalzer

I'll close this issue

[2021-10-29 22:15] #60 closed

[2021-10-30 17:14] gsalzer opened #81 "format of config/dataset/dataset.yaml"
What is the rationale behind the "dict of list of singleton dicts of list of singleton dicts" structure in `dataset.yaml`, instead of dict of dicts of dicts? Why not use

[code]

instead of

[code]

Would make the code processing it simpler ...

[2021-10-31 08:29] #41 closed

[2021-10-31 08:50] jff commented on #81
I prefer the structure that you suggest. Since you have already looked at this in #82 , I assigned the issue to you :-)

[2021-10-31 19:26] gsalzer commented on #75
Same issue as #33, can be merged, I think

[2021-11-01 00:29] jff commented on #56
I agree, I think we can close this issue.

[2021-11-01 00:29] #56 closed

[2021-11-09 09:55] jff commented on #64
This is ready to test in the bytecode branch. It is taking too long in my laptop... @tdurieux could tou give it a go, please?

[2021-11-09 11:26] gsalzer opened #83 "White is a bad color"
Smartbugs currently uses the color white for certain status messages. Apparently the original developers use some dark mode. People like me, using a light background color with a yellow touch, hardly see the messages in white.

Is there something like a default color that can be used for standard messages? This would default to white for dark backgrounds and to black for light backgrounds, like st

[2021-11-09 12:06] tdurieux commented on #64
It started the exec on the 500, it is indeed extremely slow and it has a low CPU usage.

[2021-11-10 10:55] jff commented on #64
I updated the images and they should work now. @tdurieux Can you please check?

[2021-11-11 09:48] tdurieux commented on #64
It seems that the new version is working nicely.

[2021-11-11 10:37] jff commented on #64
That's great, @tdurieux

I noticed that in some executions, it is producing exceptions such as `Exception: 'float' object cannot be interpreted as an integer`

It seems to happen mostly with the PRODIGAL and GREEDY analyses.

Should we take this into consideration for the definition of ìs_sucess`?

[2021-11-15 03:01] sandkan opened #85 "[Clarification] Getting exception when trying to execute "Maian" via smartbug"
Hi there,
I tried executing the following command
`python3 smartBugs.py --tool maian --file dataset/reentrancy/simple_dao.sol`

But I am getting the following exception. my docker is running perfectly, i suspect if there is an issue with the image. Or Am i doing something wrong?

![image](https://user-images.githubusercontent.com/88367872/141715281-7016b596-121a-4ea6-8173-364c721d299e.png)

Thanks

[2021-11-18 07:11] limcheekin commented on #85
I'm having the same error here when running smartbugs in GitHub Actions.
It is running fine 2 weeks ago.

[2021-11-18 08:14] tdurieux commented on #85
We are working on a new version of smartbugs that is also working with bytecode analysis. We recently updated the image but did not push the changes to the main branch. The code in the bytecode branch should work properly.

(cc @jff)

[2021-11-18 09:48] jff commented on #85
Hi @sandkan and @limcheekin , thanks for reporting this. As @tdurieux explained, we updated the docker image, since we are in the process of releasing a new version of Smartbugs. As a temporary workaround, you can replace the file `config/tools/maian.yaml` with this one https://github.com/smartbugs/smartbugs/blob/bytecode/config/tools/maian.yaml

If the problem persists, please let us know.

[2021-11-19 02:46] limcheekin commented on #85
Thanks for quick response. Any doc for new features of the new version of Smartbugs?

[2021-11-27 18:13] kylebakerio opened #86 "install instructions not working or unclear."
cloned, installed requirements, tried to run example command from readme... nothing but a bunch of errors. :/

[code]

[2021-11-27 18:14] kylebakerio commented on #86
clone and install commands were successful, and attempting to install requirements again just produces a list of statements that requirement is already met.

[2021-12-01 15:42] gsalzer commented on #67
Apparently not yet fixed in branch bytecode

[2021-12-02 21:38] gsalzer opened #87 "cpu clock vs wall clock"
It seems that the timing of single runs (as reported in `result.json` as `duration`) is based on time stamps since the epoch, i.e., on the wall clock. Likewise, the timeout when waiting for the completion of a docker container seems also to refer to the external time.

If this is correct, then this will be an issue when comparing tools based on benchmarks, as the same task, when run several times,

[2021-12-07 10:47] jff commented on #79
@tdurieux Can you do Osiris, please?

[2021-12-07 11:19] jff opened #88 "Dockerhub will remove images that are not downloaded once per month"
Perhaps we can create a GitHub Action?

[2021-12-07 13:28] jff commented on #59
First version in commit a706bab44d91584934f367336f2e8032bdb992fb (I forgot to refer to this issue in the commit).

Still TODO: SARIF support (if relevant)

[2021-12-08 10:47] gsalzer opened #89 "analysis of bytecode does not report timeout"
It seems that if there is no `report.log`, then there is also no `report.json`, not even a minimal one. This seems to be particularly the case if a timeout occurs. So we end in a situation, where the log file reports a timeout, but the directory for the results remains empty.

Suggestion: Generate in such cases a minimal `report.json` reporting computation time and the timeout.

With Mythril, this

[2021-12-08 11:23] gsalzer opened #90 "Please ignore/delete, wrong repo"
Let `0xcbe717fb2923f4226271cc4c1d5ef2c076fb3247.hex` be the bytecode at `https://etherscan.io/address/0xcbe717fb2923f4226271cc4c1d5ef2c076fb3247#code`.

[code]

[2021-12-08 11:25] gsalzer commented on #90
Sorry, wrong repository, should have been Conkas

[2021-12-08 11:27] #90 closed

[2021-12-09 09:57] jff commented on #64
Important note: when analyzing bytecode, maian will not try to confirm the vulnerability! (see lines 149--165 of maian.py).

[2021-12-09 11:08] jff commented on #64
Also, the exceptions mentioned above appear even when vulnerabilities are found. Therefore, I am not taking them into consideration in the definition of `is_success`

[2021-12-09 12:58] #64 closed

[2021-12-09 13:06] tdurieux commented on #58
I added the support for it but the tool is extremely slow. for the contract that I tested the tool did not finish in 30min.
Could be related to the config: https://github.com/smartbugs/smartbugs/blob/bytecode/utils/docker/smartbugs-EthBMC/scripts/run.sh#L8

[2021-12-09 13:06] #58 closed

[2021-12-10 09:35] #67 closed

[2021-12-10 09:49] #89 closed

[2021-12-10 10:00] #78 closed

[2021-12-10 10:01] #54 closed

[2021-12-10 10:02] tdurieux commented on #71
It has been fixed in the bytecode branch

[2021-12-10 10:02] #71 closed

[2021-12-10 18:43] gsalzer commented on #86
To narrow down the source of the problem, try the following.

[code]
This works for me. If it also does for you, then I'd try to start smartbugs on your specific sol file, but from this directory, to avoid that files are not found. Then try other tools instead of oyente. Maybe the problem is that some docker image cannot be loaded.

[2021-12-11 16:50] #81 closed

[2021-12-11 16:53] #75 closed

[2021-12-11 16:55] gsalzer commented on #72
Can be closed once pull request #92 has been merged.

[2021-12-11 17:03] #73 closed

[2021-12-15 12:19] gsalzer commented on #88
Why do we have to use Dockerhub? `docker load` allows to load an image from a local tar archive. So we could put the docker images in a companion repository, and smartbugs could `git pull` the most recent image and `docker load` it.

[ Disclaimer: I'm a newbie regarding docker ]

[2021-12-15 16:45] gsalzer opened #93 "Mythril bytecode analysis: deployment vs runtime code"
Mythril behaves differently depending on whether it thinks that the bytecode is deployment code or runtime code:
[code]
versus
[code]
In the first case Mythril tries to deploy and analyze **the result** of code.hex.

Regarding smartbugs:
- We should add the option `--bin-runtime` to `cmd_bytecode` in `config/tools/mythril.yaml` (after `analyze`)
- Should we make the functionality of Mythril, execu

[2021-12-15 17:31] gsalzer opened #94 "Maian: new docker image uses solc 0.5.10, fails with old datasets"
In the current version of smartbugs (bytecode branch), maian stopped working on the old datasets, as the compilation fails in most cases.
[code]
generates `result.log` files with the following contents:
[code]

[2021-12-15 17:33] #94 closed

[2021-12-15 18:05] gsalzer commented on #94
Problem solved: There is a bug in the code for image selection such that the wrong docker image is pulled. Fixing ...

[2021-12-16 11:12] gsalzer opened #99 "Maian analysis of source code broken with docker image solc4.25 7d2c0333607f: geth connection timeout"
When analyzing source code, Maian deploys the contract on a local blockchain. This is broken for docker image `solc4.25 7d2c0333607f`.

`python smartBugs.py -t maian --dataset access_control` generates `result.log` files like the one below. It seems that the connection to `geth` times out.
[code]

[2021-12-16 11:42] gsalzer opened #100 "Maian code analysis broken with docker image solc5.10 f3a41de8aeb3: 'float' object cannot be interpreted as an integer"
When analyzing bytecode, Maian started to generate `Exception: 'float' object cannot be interpreted as an integer` when searching for an exploit. This doesn't seem to be related to bytecode with new instructions unknown to Maian, but to essentially all bytecodes (even though Maian not always enters this phase). Maybe the docker image `solc5.10 f3a41de8aeb3` contains a version of `z3` or some Pytho

[2021-12-16 11:48] gsalzer commented on #100
The issue is neither limited to the default image nor to smartbugs, but occurs also with the image `solc4.25 7d2c0333607f` when running the native Maian sample contract.

[code]

[2021-12-16 14:03] gsalzer opened #101 "Discussion: use a wrapper to provide multiple solc versions"
Currently, we have to maintain multiple docker images per tool, for different solc versions. Moreover, smartbugs lags behind regarding solc versions. Adding a new solc version means to modify the code of smartbugs as well as to increase the number of docker images that have to be maintained.

What about writing a wrapper script `solc` that determines the Solidity version from the source code and t

[2021-12-16 14:27] gsalzer commented on #100
There is another docker image for Maian that works, at https://hub.docker.com/r/cryptomental/maian-augur-ci
Here is a comparison of versions (`pip list`)

| package | maian-augur-ci | solc4.25 |
| ------------- | ------------- | ------------- |
| certifi | 2018.4.16 | 2021.10.8 |
| cytoolz | 0.9.0.1 | 0.11.2 |
| eth-abi | 0.5.0 | 0.5.0 |
| eth-keys | 0.1.0b4 |  0.1.0b4 |
| eth-tester | 0.1.0b11 |

[2021-12-16 16:30] gsalzer commented on #100
Found it. Maian was written for Python 2.7 in a way compatible with Python3, but not completely so. In two files, `MAIAN/tool/execute_instruction.py` and `MAIAN/tool/parse_code.py`, a single slash is used for division, which meant integer division in Python2, but gives an integer in Python3. Apply the following patch to `MAIAN/tool`.

[code]

[2021-12-17 03:37] taylorgag opened #102 "No matching distribution found for pandas==1.2.3"
sorry to bother you, what I am using is Ubuntu18, but when I am using the command **pip3 install -r requirements.txt**, it outputs are:
ERROR: Could not find a version that satisfies the requirement pandas==1.2.3 (from versions: 0.1, 0.2, 0.3.0, 0.4.0, 0.4.1, 0.4.2, 0.4.3, 0.5.0, 0.6.0, 0.6.1, 0.7.0, 0.7.1, 0.7.2, 0.7.3, 0.8.0, 0.8.1, 0.9.0, 0.9.1, 0.10.0, 0.10.1, 0.11.0, 0.12.0, 0.13.0, 0.13.1, 0

[2021-12-17 03:38] taylorgag commented on #102
should I use the version of pandas is 1.1.5?

[2021-12-17 07:56] #102 closed

[2021-12-17 07:59] taylorgag opened #103 "During handling of the above exception, another exception occurred"
Sorry to bother you, when I use the command **python3 smartBugs.py --tool all --file dataset/60.sol**, its outputs are:

Analysing file [1/11]: dataset/60.sol [maian]
ANTLR runtime and generated code versions disagree: 4.9.3!=4.7.2
ANTLR runtime and generated code versions disagree: 4.9.3!=4.7.2
400 Client Error for http+docker://localhost/v1.41/containers/5af4f1b5002011ca9610073e737946f0961f40735

[2021-12-17 16:30] jff commented on #99
I confirm this error. The analysis was successful in some cases, but failed in most with the same error.

When running `python smartBugs.py -t maian --file dataset/access_control/arbitrary_location_
write_simple.sol` it also fails.

[2021-12-17 16:37] #63 closed

[2021-12-17 16:37] #65 closed

[2021-12-17 16:40] #79 closed

[2021-12-17 16:51] gsalzer commented on #99
I'm currently working on an update of Maian, to use it with a current version of geth. Maybe this solves this problem as well.

[2021-12-17 18:58] jff commented on #101
I am currently implementing a solution for this. So far:

- I created a base docker image that uses [solc-select](https://github.com/crytic/solc-select) to install all available solc versions
- I updated smartbugs to set the version specified in the pragma as an environment variable (which solc-select / solc knows how to read)
- Preliminary tests with a new image for maian seem to work fine (i.e.

[2021-12-22 14:32] gsalzer commented on #103
Apparently the work on the new branch `bytecode` braught inconsistencies into the main branch, via the docker images. Try the `bytecode` branch. Under Linux, the following should work.

[code]

[2021-12-22 14:41] gsalzer commented on #100
I have updated Maian to work with current versions of Python, web3 and geth, see https://github.com/smartbugs/MAIAN

[2021-12-22 14:46] gsalzer commented on #99
I have updated Maian to work with current versions of web3, Python and geth, see https://github.com/smartbugs/MAIAN At least outside of docker, this version of Maian does not give these errors.

[2022-01-30 19:57] gsalzer opened #104 "Child processes not terminating after error"
Suppose we execute the command
[code]
using smartBugs.py from branch `bytecode`. Not surprisingly, we get the error
[code]
which is to be expected, as currently the command to be executed is not yet defined.

The problem is that after that, the 36 subprocesses keep hanging around indefinitely, and the main process does not terminate. The code executed is
[code]
in `docker_api.py`. So it seems that

[2022-02-02 10:02] nettrino commented on #86
I run into this and I simply did not have docker running, so perhaps we could update the script to check if the daemon is up to show the appropriate error message.

[2022-02-06 20:45] gsalzer commented on #93
In commit 2e7d9d23409d91180a535a9f7938de8fabbace0b, I have added `--bin-runtime`  to `cmd_bytecode` in `config/tools/mythril.yaml`.
The second point is still open for discussion: *Should we make the functionality of Mythril, executing deployment code and then analyzing the generated runtime code, accessible to smartbugs users, e.g. via an option?*
So far, I found only Maian which also distinguishe

[2022-02-12 04:32] LORDCYBERGOD opened #107 "Traceback (most recent call last): File "smartBugs.py", line 13, in <module> from src.docker_api.docker_api import analyse_files ModuleNotFoundError: No module named 'src.docker_api'"
I made many changes  in a program still I am facing Traceback (most recent call last):
  File "smartBugs.py", line 13, in <module>
    from src.docker_api.docker_api import analyse_files
ModuleNotFoundError: No module named 'src.docker_api'

[2022-02-12 17:15] gsalzer commented on #107
You do not provide any information about which branch you are referring to (`master`, `bytecode`?) and what you changed (my crystal ball doesn't show any of your *many changes in a program*), but the problem is probably easy to resolve. According to the error message, the directory from where you start your Python program does not contain `src/docker_api`. Please check.

Either you start the progr

[2022-02-12 17:25] gsalzer commented on #61
As far as I can see, Madmax now works (almost). In commit 91ebcaf7d95c105c22338902a6fd14c00276cf75 I modified `Dockerfile` such that also `madmax.dl` gets precompiled, which speeds up the runs. Moreover, I delete `results.json` and `.temp` to avoid that in case of an error, these remnants of the pre-compile are returned as result of the failed run.

There is one bug still: Madmax generates `result

[2022-02-12 17:34] gsalzer opened #108 "Keeping Docker images more agnostic about their use?"
I find the current architecture, where the Docker images contain `run*` scripts, not entirely satisfactory, because inflexible. Wouldn't it be better to include just the bare tool in the image and copy the run script to the container (or put it on the mount alongside the input data) before starting it? This way the image wouldn't have to be rebuilt when changing the way how the tool is invoked.

[2022-02-12 17:37] #103 closed

[2022-02-12 17:48] gsalzer commented on #87
Offline discussions convinced me that this is not really feasible.

[2022-02-12 17:48] #87 closed

[2022-02-12 17:52] gsalzer commented on #86
@tdurieux Looks like a good idea. Can we check that docker is running, or at least add this possible cause to the respective error messages?

[2022-02-12 17:58] gsalzer commented on #99
Related: issue https://github.com/smartbugs/smartbugs/issues/85

[2022-02-12 18:06] gsalzer commented on #49
At least for `result.json`, this problem is solved in branch `bytecode`. There are now fields `errors` and `success`. `errors` is a list of strings indicating errors, and success is a boolean which essentially is true if and only if `errors` is empty.

[2022-02-12 18:08] #33 closed

[2022-02-12 18:13] gsalzer commented on #100
Related: issues #99 and #85

[2022-02-14 11:10] LorenzoZaccagnini opened #110 "Maian HTTP error"
During an integration of SmartBugs with Github Actions I have experienced this issue, I guess it's related to Maian. This causes the tests failure.

**GH actions error logs**

` requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: http+docker://localhost/v1.41/containers/8c34f235473fdc35c97b20002b4aa4c7c21492c37a667a25df40e90b1b4205cb/start`

`docker.errors.APIError: 400 Client Er

[2022-02-28 08:57] gsalzer commented on #110
Thanks for reporting the issue. The problem was related to an erroneous Docker image (mixup between images for master branch and bytecode branch) and has been resolved.

[2022-02-28 08:58] #110 closed

[2022-02-28 09:01] gsalzer commented on #107
I'm closing the issue as there is not enough information available that would allow us to analyze the problem. Please reopen the issue if needed, providing more details.

[2022-02-28 09:01] #107 closed

[2022-02-28 09:03] gsalzer commented on #100
With the recent updates of the Docker images of Maian, this issue should be resolved.

[2022-02-28 09:03] #100 closed

[2022-02-28 09:05] gsalzer commented on #99
Has been resolved by an update of the docker images for Maian

[2022-02-28 09:05] #99 closed

[2022-02-28 09:07] #72 closed, assigned to nobody

[2022-02-28 09:09] #85 closed

[2022-02-28 09:13] gsalzer commented on #61
Has been fixed with recent updates of the bytecode branch and the images

[2022-02-28 09:13] #61 closed

[2022-02-28 09:14] gsalzer commented on #57
Ethainter has been added with the recent updates of the bytecode branch

[2022-02-28 09:14] #57 closed

[2022-02-28 18:02] gsalzer commented on #59
Closed by error

[2022-03-03 08:26] limcheekin opened #115 "Docker: Internal Server Error qspprotocol/securify-usolc i/o timeout"
I not sure whether the following error is known or only happened to my repo:
[code]

You can find out more from the Github Action build log:
https://github.com/limcheekin/eth-dapps-nextjs-boiletplate/runs/5403483616?check_suite_focus=true#step:17:37

And the Github Action file:
https://github.com/limcheekin/eth-dapps-nextjs-boiletplate/blob/master/.github/workflows/truffle.yml#L59

Please advise.

[2022-03-11 16:14] BuggerBag opened #116 "what is attack scenario of 0x627fa62ccbb1c1b04ffaecd72a53e37fc0e17839.sol"
Hi all
I found 0x627fa62ccbb1c1b04ffaecd72a53e37fc0e17839.sol at ```reentrancy``` folder.
this contract is not vulnerable and it's only has a disorder inheritance.
can you tell me, what is attack scenario of this contract?
attacker via reseting ownership of constructor can't pass the onlyowner modifier for doing reentrancy!

[2022-03-11 18:40] BuggerBag commented on #116
Note that smart contracts at reentrancy folder of etherscan was HoneyPot, becareful !!
My Question:
is  0x627fa62ccbb1c1b04ffaecd72a53e37fc0e17839.sol vulnerable? if yes what is attack scenario?

[2022-03-13 13:54] BuggerBag opened #118 "wrong category!"
```odds and evens.sol``` is not front running, front running is a problem that race condition has happened at the mempool.
it category beyond to ```Unencrypted Private Data On-Chain```

ref: https://swcregistry.io/docs/SWC-136#odd_evensol

[2022-03-13 13:54] BuggerBag opened #133 "category of odds and evens.sol is wrong!"

[2022-03-13 14:02] BuggerBag commented on #118
the attacker or Eve must wait until the first transaction is mined, after that Eve watches the internal transaction of ```oddevent ``` contract and choose wise data for getting profit.
front running means that the Eve transaction was mined before the party transaction.
meaning of those is very important!
please edit your repo, thank's in advance.

[2022-03-15 08:55] gsalzer commented on #108
This is now the approach taken by Smartbugs 1.1.0.

[2022-03-15 08:56] gsalzer commented on #101
Has been added to Smartbugs 1.1.0.

[2022-03-15 08:56] #101 closed

[2022-03-15 09:33] gsalzer commented on #88
@tdurieux Do you have a reference to the current policies of `docker.com`? I only found an old announcement that they postpone the expiry to a newer date in 2021, but nothing recent. What are the current conditions regarding the expiry of Docker images on `hub.docker.com`?

[2022-03-15 10:03] tdurieux commented on #88
I received this email in January

[2022-03-15 18:48] gsalzer commented on #88
For none of the subscription schemes on https://www.docker.com/pricing, I found an expiration period for the images. And for educational as well as non-commercial open-source use, Docker is still free. Likewise, the linked blog entry does not mention anything about deletion of images.

[2022-03-15 18:57] tdurieux commented on #88
Good news. You can close this issue :)

[2022-03-15 18:57] #88 closed

[2022-03-15 20:10] gsalzer commented on #115
Please reopen the issue as soon as you have new information.

[2022-03-15 20:10] #115 closed

[2022-03-22 17:38] Hangyul-Son opened #119 ""NameError: name 'logs' is not defined" for MacOS"
![image](https://user-images.githubusercontent.com/47938735/159539392-426056f7-4574-49fe-8b42-cc5526e7fc40.png)

### **The above error is incomprehensible. This error occurs when the project even after...**
1. freshly cloned from github
2. Installed all the Python requirements3.8.txt
3. Run the 'python3 smartBugs.py --tool oyente --dataset reentrancy' or 'python3 smartBugs.py --tool all --file
dat

[2022-03-26 17:28] WoutOnGitHub commented on #119
I'm also using an M1 and getting the same problem. I'll try running it on my linux machine in 2 days to see if it is an Apple problem. Might try it earlier if i feel like setting up a VM

[2022-03-26 20:16] davidloz opened #120 "WARNING:root:You are using solc version 0.7.6. The supported version is 0.4.21."
I was running SmartBugs with this contract: 0x0a76C7913C94F2AF16958FbDF9b4CF0bBdb159d8

With the tool Osiris I got the following error:

WARNING:root:You are using solc version 0.7.6. The supported version is 0.4.21.
CRITICAL:root:Solidity compilation failed

Is this an issue with SmartBugs or with the used tool Osiris?

[2022-03-27 19:09] gsalzer commented on #120
Thanks for reporting the issue. There are several problems involved.
- The contract contains a rather unconventional version information:
[code]
We use `py-solc-x` to load an appropriate version of the compiler, but it fails to parse this pragma correctly. I reported the issue and proposed a fix, see https://github.com/iamdefinitelyahuman/py-solc-x/issues/147

- The correct version of the compiler

[2022-03-27 19:12] #120 closed

[2022-03-28 12:50] shawn-skt commented on #119
hello, can you tell us which PR fixed it? Txs

[2022-03-28 14:03] WoutOnGitHub commented on #119
This repo has only one PR

[2022-03-28 15:37] shawn-skt commented on #119
Txs a lot

[2022-03-28 17:07] jff commented on #119
Thanks for opening the issue, @Hangyul-Son.

Using the `master` branch, I was unable to replicate the error on my side (Ubuntu, Python 3.9.7). What version of Python are you using?

[2022-03-28 17:08] jff commented on #118
Thanks, @BuggerBag

@pedrocrvz WDYT ?

[2022-03-29 01:37] Hangyul-Son commented on #119
Thanks for the reply, @jff

Python version I was using is 3.8.7.
I have rechecked error also with Python 3.9.7 on my m1 device, but python version doesn't seem to be the matter.

[2022-03-29 13:09] gsalzer commented on #119
Are you referring to PR #44 ? How did you apply it to the master branch, as it is no longer compatible?

I cannot reproduce the problem (same as @jff), and I try to understand what you have changed to make it work. It seems that you invoke smartbugs differently, as `logs` should be defined as soon as the line `logs = open(...)` has been executed. Thanks!

[2022-03-29 16:15] gsalzer commented on #119
@WoutOnGitHub What you did when checking out PR#44 was nothing but reverting to an old version of smartbugs (with the patch PR#44 in fact unrelated to the issue). The old smartbugs is not able to handle new Solidity versions.
I think the underlying issue is that it is not safe to distribute file handles (like the one for the log file) between parallel processes. Apparently it worked in the old sma

[2022-03-29 16:50] VikingKingWout commented on #119
Oh thx for the explanation. I hope you fix it soon.

[2022-03-29 21:16] BuggerBag commented on #118
Hi, thanks for your response, I think, if the first number was encrypted, the attacker can't decrypt it.
if the number encrypts with CBC (cipher block chaining) then attacker can't decrypt it.
so the front running is not meaningful.
I have one question, if the front running was solved, does the attacker lose? (my answer: never, because the contract has a race condition problem)
I think the root ca

[2022-04-15 15:21] RobinXieNZ commented on #119
I'm getting the same error, and I'm using an old Intel Mac. Seems it's not just for M1.

[2022-04-15 15:21] RobinXieNZ commented on #119
I'm getting the same error, and I'm using an old Intel Mac. Seems it's not just for M1.

[2022-04-16 20:25] gsalzer commented on #119
I've started a new branch, `macos-fix`, that will eventually become the master branch. Please checkout it out and see whether it works for you. I had temporary access to a mac, and it seems to work.
Thanks in advance for any reports on successes and failures.

[2022-04-17 01:49] shawn-skt commented on #119
It works for me on M1. Thanks a lot!

[2022-04-17 11:05] WoutOnGitHub commented on #119
It works for me as well. (On my macbook m1)

[2022-04-17 14:55] #119 closed

[2022-04-17 15:27] Hangyul-Son commented on #119
It is working now:) Thank a lot!

[2022-04-17 15:29] gsalzer commented on #119
@Hangyul-Son @shawn-skt @WoutOnGitHub Thanks for testing! For now, I regard this issue as solved, and close it.

[2022-04-17 20:35] gsalzer commented on #104
cannot reproduce, seems to be fixed by the recent updates.

[2022-04-17 20:35] #104 closed

[2022-04-17 20:39] gsalzer commented on #83
Has been changed to default color in commit 190f18b0448acc314572b55365e98d0f994fda07 (black letters for light background, white letters for dark background).

[2022-04-17 20:39] #83 closed

[2022-04-17 20:50] gsalzer commented on #23
The current smartbugs, master branch, commit 190f18b0448acc314572b55365e98d0f994fda07, the issues mentioned in this thread seem to be resolved.
- version pragmas of the form `>=0.` are rewritten to `^0.` before searching for a suitable compiler version.
- Since version 1.1, SmartBugs is able to determine the Solidity version from the source code and download the correct compiler.

[2022-04-17 20:50] #23 closed

[2022-04-19 08:48] gsalzer commented on #86
Check whether docker is installed has been added in commit cd05fd2b89905af83aa5d7efa4e239b42fda9ed2

[2022-04-19 08:48] #86 closed

[2022-04-22 13:51] gsalzer commented on #48
The issue seems to be resolved, I cannot reproduce it with the current version of smartbugs.

[2022-04-22 13:51] #48 closed

[2022-04-29 06:58] stebansaa opened #123 "All I get is errors!"
Could not find any real results on the logs, on each directory, and then the process looks like this:

Arguments passed: ['smartBugs.py', '--tool', 'all', '--file', 'test.sol']
Pulling image qspprotocol/oyente-0.4.25, this may take a while ...
Image qspprotocol/oyente-0.4.25 pulled
Pulling image smartbugs/manticore, this may take a while ...
Image smartbugs/manticore pulled
Pulling image trailofbi

[2022-05-01 10:10] gsalzer commented on #123
Can you post `test.sol`?

[2022-05-04 09:23] gsalzer commented on #123
Without further information there is no chance to help or explain ... closing the issue for now. Feel free to add more hints.

[2022-05-04 09:23] #123 closed

[2022-05-06 01:41] yagol2020 opened #124 "Questions about datasets"
https://github.com/smartbugs/smartbugs/blob/e05d324ff0bf5a70594bf14a5ae80d1d63bb7fc5/dataset/reentrancy/spank_chain_payment.sol#L426

The report([link](https://medium.com/swlh/how-spankchain-got-hacked-af65b933393c)) say that EVM's `transfer()` function carries 2,300 gas and does not trigger reentrancy vulnerability. But 426 lines in the dataset are said to contain vulnerabilities.
Please let me k

[2022-05-09 18:27] gsalzer commented on #124
@yagol2020 Can you please recheck your example whether it really illustrates your point? I tried the eleven tools integrated in smartbugs (`-t all`) on this contract (`-f dataset/reentrancy/spank_chain_payment.sol`), and only `conkas` notes that there might be a reentrancy (though in the wrong contract of the file). So the tools actually do not detect the reentrancy vulnerability. This is not surp

[2022-05-10 11:23] yagol2020 commented on #124
@gsalzer
Thanks for your reply.
I know `transfer` with 2300 gas. Actually, I didn't run the individual tools in smartbugs, just looked at the [dataset](https://github.com/smartbugs/smartbugs/tree/e05d324ff0bf5a70594bf14a5ae80d1d63bb7fc5/dataset) in smartbugs. My question is that line 426 uses the `transfer` , does it contain a reentrancy vulnerability? Are there false positives in the dataset?

[2022-05-10 16:00] gsalzer commented on #124
I'm not the author of these datasets, maybe @jff can comment on it. I think that most contracts in the data sets actually have a weakness in one way or the other, but there is a difference between a weakness (something that might be exploited), an actual vulnerability (there is an exploit), and patterns that can be actually detected by tools.
In the contract that you are referring to, the reentran

[2022-05-11 02:28] yagol2020 commented on #124
@gsalzer
Yes, as you said, reentrancy happens via line `430`. I don't think the reentrancy vulnerability can occur with 426 lines, **maybe** there is a problem with the labels of the dataset.

[2022-05-11 07:08] #124 closed

[2022-05-18 14:45] lalaaaaaaa opened #125 "No compiler found for file 'dataset/reentrancy/"
I notice that you have updated smartbugs. When I use smartbugs1.1.0. I meet a question as follows. I have no idea how to solve it . Can you please point it out?
![B767870E-BF17-4fcc-B063-B6BD1DA5694D](https://user-images.githubusercontent.com/32992534/169069243-b3f54abf-89e1-4f35-9dcd-9ba7409473b4.png)

[2022-05-25 08:20] gsalzer commented on #125
Closing for now, as without further information it doesn't seem possible to clarify the issue.

[2022-05-25 08:20] #125 closed

[2022-05-28 07:48] yagol2020 opened #126 "Problem about dataset annotation"
[0xf70d589d76eebdd7c12cc5eec99f8f6fa4233b9e.sol](https://github.com/smartbugs/smartbugs/blob/master/dataset/unchecked_low_level_calls/0xf70d589d76eebdd7c12cc5eec99f8f6fa4233b9e.sol) ( `unchecked_low_level_calls` ) , `vulnerable_at_lines` should be `44` rather than `45` .

[2022-05-28 14:30] gsalzer commented on #126
@jff @tdurieux I guess you should decide how to proceed with such improvement requests

[2022-07-16 15:02] mchara01 opened #128 "Issue running manticore and madmax on bytecode"
I am using the bytecode branch of smartbugs and I get the error "ERROR: could not get file from container. File not analysed." whenever I try to analyse a smart contract's bytecode with **_Manticore_**. The bytecode files I try to analyse exist on my file system. Do you know how to overcome this issue?

Also, I have run **_Madmax_** on more than 200 bytecode files, but the findings field in the re

[2022-07-20 08:55] gsalzer commented on #128
Manticore does not work in an automated fashion for runtime bytecode (what the bytecode branch is about). It seems to be able to analyze source code and deployment code automatically, as the constructor/deployment code initializes the environment. For bytecodes, Manticore seems to expect information on this environment, and does not seem to be able to handle it symbolically.

I do not know of any

[2022-07-21 08:12] gsalzer commented on #128
Closing the issue until more specific info on potential problems is provided.

[2022-07-21 08:12] #128 closed

[2022-08-19 01:56] HighBe opened #129 "Use Local Memory Type Variable Instead of Global Storage Type Variable in Event to Save Gas"
Hi, we recently have conducted a systematic study about Solidity event usage, evolution, and impact, and we are attempting to build a tool to improve the practice of Solidity event use based on our findings. We have tried our prototype tool on some of the most popular GitHub Solidity repositories, and for your repository, we find a potential optimization of gas consumption arisen from event use.

[2022-08-20 11:25] gsalzer commented on #129
Thanks for the pointer to your work. It will be definitely interesting once we turn our attention on improving the benchmarks. Are you aware of tools that intend to detect such and similar possibilities of reduced gas consumption? Otherwise, your observation could be of interest to the developers of the Solidity compiler. However, their topmost priority is probably the correctness of the compiler,

[2022-08-20 11:28] gsalzer commented on #129
Have you checked recent Solidity versions and the use of storage/memory modifiers? Wouldn't it be sufficient to declare the parameter to be `memory`?

[2022-08-22 14:01] HighBe commented on #129
We really appreciate your response. To our knowledge, we are not aware of tools that can do such and similar optimization of gas consumption. According to our analysis, such optimizations should not bring side effects such as security vulnerabilities. With regards to the Solidity version, we check the lastest one and find that state variables are not allowed to be typed as memory (same as before).

[2022-08-24 18:55] #129 closed

[2022-08-25 08:45] VargaElod23 commented on #93
@gsalzer If the first is available, then is there any scenario where the plain action of deployment can alter the resulting runtime code? I believe not. If the source code gets successfully deployed then it should always result in the same runtime code, therefore if we just run `--bin-runtime` it should be enough in all scenarios.

[2022-08-25 09:50] gsalzer commented on #93
The two scenarios _deployment code_ and _runtime code_ are different, both from the user perspective and the tool perspective.
With deployment code, the user provides more information, so the tools have more clues for analysis. Several tools deploy the deployment code on a chain, not only to obtain the runtime code, but also to query the storage (as initialized by the deployment code) or to try ou

[2022-09-14 21:18] #59 closed

[2022-09-14 21:20] jff commented on #49
This seems to have been solved in the `bytecode` branch, right @gsalzer ?

[2022-10-12 12:13] gsalzer opened #131 "Docker Images"
The images in the main branch and the bytecode branch should be merged, with the more recent ones taking precedence, or updated by recent ones. In any case there should be a list documenting which tool versions or commits are used.

[2022-11-10 15:48] gsalzer commented on #131
Done in branch `sb2.0`

[2022-11-10 15:48] #131 closed

[2022-11-21 16:52] jff commented on #22
Smartbugs 2.0 fixes this. @gsalzer

[2022-11-21 16:52] #22 closed

[2022-11-21 17:18] gsalzer commented on #22
@jff  Ok with closing the issue, but SB 2.0 does not pick up this suggestion. Currently, Osiris, Honeybadger and Oyente all use the same output parser, since the first two tools are modifications of Oyente and generate similar output. I don't think, however, that they also implement Oyente's `web` option. For the time being, I prefer to have just one parser for all three. If, in the future, we dis

[2022-11-21 19:57] gsalzer commented on #93
Implemented in SB 2.0

[2022-11-21 19:57] #93 closed

[2022-11-21 21:39] gsalzer commented on #74
Does not seem to be so urgent anymore, closing the issue

[2022-11-21 21:39] #74 closed

[2022-11-21 21:41] gsalzer commented on #76
SmartBugs 2.0 allows the user to configure such folder names.

[2022-11-21 21:41] #76 closed

[2022-11-21 22:39] gsalzer commented on #68
Obsolete with SB 2.0

[2022-11-21 22:39] #68 closed

[2022-11-21 22:40] gsalzer commented on #69
Difficult problem, will not be addressed in the near future, closing the issue for now

[2022-11-21 22:40] #69 closed

[2022-11-21 23:17] gsalzer commented on #49
@jff Errors and fails of the tool itself will be reported by SB 2.0 (and by the code on the bytecode branch) in the parsed output. However, these errors and fails will still not be reflected in the sarif output. Should we include general fails and errors that are not tied to a particular code line in the sarif output?